<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
	<div id='error_explanation'>
		<h1><%= (pluralize@customer.errors.count, "error") %> Prohibited this event from being saved:</h1>

		<ul>
			<% @customer.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		</ul>
	</div>
  <% end %>

	<p>
		<%= f.label :UserId %>
		<%= f.text_field :cust_id %>
	</p>

	<p> 
		<%= f.label :UserName %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :Description %>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.submit %>
</p>
<% end %>